<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="grupoPapel">
      <h2 data-cy="grupoPapelDetailsHeading">
        <span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.detail.title">Grupo Papel</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ grupoPapel.id }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.idnVarGrupo">Idn Var Grupo</span></dt>
        <dd>
          <span>{{ grupoPapel.idnVarGrupo }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.idnVarPapel">Idn Var Papel</span></dt>
        <dd>
          <span>{{ grupoPapel.idnVarPapel }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.idnVarUsuario">Idn Var Usuario</span></dt>
        <dd>
          <span>{{ grupoPapel.idnVarUsuario }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.idnVarEmpresa">Idn Var Empresa</span></dt>
        <dd>
          <span>{{ grupoPapel.idnVarEmpresa }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.grupo">Grupo</span></dt>
        <dd>
          <div *ngIf="grupoPapel.grupo">
            <a [routerLink]="['/grupo', grupoPapel.grupo?.id, 'view']">{{ grupoPapel.grupo?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.papel">Papel</span></dt>
        <dd>
          <div *ngIf="grupoPapel.papel">
            <a [routerLink]="['/papel', grupoPapel.papel?.id, 'view']">{{ grupoPapel.papel?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.empresa">Empresa</span></dt>
        <dd>
          <div *ngIf="grupoPapel.empresa">
            <a [routerLink]="['/empresa', grupoPapel.empresa?.id, 'view']">{{ grupoPapel.empresa?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupoPapel.usuario">Usuario</span></dt>
        <dd>
          <div *ngIf="grupoPapel.usuario">
            <a [routerLink]="['/usuario', grupoPapel.usuario?.id, 'view']">{{ grupoPapel.usuario?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/grupo-papel', grupoPapel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
