<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-empresa-heading"
        data-cy="EmpresaCreateUpdateHeading"
        jhiTranslate="riskcomplianceloginserviceApp.empresa.home.createOrEditLabel"
      >
        Create or edit a Empresa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.empresa.idnVarEmpresa" for="field_idnVarEmpresa"
            >Idn Var Empresa</label
          >
          <input
            type="text"
            class="form-control"
            name="idnVarEmpresa"
            id="field_idnVarEmpresa"
            data-cy="idnVarEmpresa"
            formControlName="idnVarEmpresa"
          />
          <div
            *ngIf="
              editForm.get('idnVarEmpresa')!.invalid && (editForm.get('idnVarEmpresa')!.dirty || editForm.get('idnVarEmpresa')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idnVarEmpresa')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.empresa.nVarNome" for="field_nVarNome">N Var Nome</label>
          <input type="text" class="form-control" name="nVarNome" id="field_nVarNome" data-cy="nVarNome" formControlName="nVarNome" />
          <div *ngIf="editForm.get('nVarNome')!.invalid && (editForm.get('nVarNome')!.dirty || editForm.get('nVarNome')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nVarNome')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.empresa.nVarDescricao" for="field_nVarDescricao"
            >N Var Descricao</label
          >
          <input
            type="text"
            class="form-control"
            name="nVarDescricao"
            id="field_nVarDescricao"
            data-cy="nVarDescricao"
            formControlName="nVarDescricao"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
