<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="features">
      <h2 data-cy="featuresDetailsHeading"><span jhiTranslate="riskcomplianceloginserviceApp.features.detail.title">Features</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ features.id }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.features.idnVarFeatures">Idn Var Features</span></dt>
        <dd>
          <span>{{ features.idnVarFeatures }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.features.nVarNome">N Var Nome</span></dt>
        <dd>
          <span>{{ features.nVarNome }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.features.idnVarApp">Idn Var App</span></dt>
        <dd>
          <span>{{ features.idnVarApp }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.features.idnVarUsuario">Idn Var Usuario</span></dt>
        <dd>
          <span>{{ features.idnVarUsuario }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.features.app">App</span></dt>
        <dd>
          <div *ngIf="features.app">
            <a [routerLink]="['/app', features.app?.id, 'view']">{{ features.app?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.features.usuario">Usuario</span></dt>
        <dd>
          <div *ngIf="features.usuario">
            <a [routerLink]="['/usuario', features.usuario?.id, 'view']">{{ features.usuario?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/features', features.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
