<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-permissions-papel-heading"
        data-cy="PermissionsPapelCreateUpdateHeading"
        jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.home.createOrEditLabel"
      >
        Create or edit a Permissions Papel
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.idnVarPermissions"
            for="field_idnVarPermissions"
            >Idn Var Permissions</label
          >
          <input
            type="text"
            class="form-control"
            name="idnVarPermissions"
            id="field_idnVarPermissions"
            data-cy="idnVarPermissions"
            formControlName="idnVarPermissions"
          />
          <div
            *ngIf="
              editForm.get('idnVarPermissions')!.invalid &&
              (editForm.get('idnVarPermissions')!.dirty || editForm.get('idnVarPermissions')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idnVarPermissions')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.idnVarPapel" for="field_idnVarPapel"
            >Idn Var Papel</label
          >
          <input
            type="text"
            class="form-control"
            name="idnVarPapel"
            id="field_idnVarPapel"
            data-cy="idnVarPapel"
            formControlName="idnVarPapel"
          />
          <div *ngIf="editForm.get('idnVarPapel')!.invalid && (editForm.get('idnVarPapel')!.dirty || editForm.get('idnVarPapel')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idnVarPapel')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.idnVarFeatures" for="field_idnVarFeatures"
            >Idn Var Features</label
          >
          <input
            type="text"
            class="form-control"
            name="idnVarFeatures"
            id="field_idnVarFeatures"
            data-cy="idnVarFeatures"
            formControlName="idnVarFeatures"
          />
          <div
            *ngIf="
              editForm.get('idnVarFeatures')!.invalid && (editForm.get('idnVarFeatures')!.dirty || editForm.get('idnVarFeatures')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idnVarFeatures')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.idnVarUsuario" for="field_idnVarUsuario"
            >Idn Var Usuario</label
          >
          <input
            type="text"
            class="form-control"
            name="idnVarUsuario"
            id="field_idnVarUsuario"
            data-cy="idnVarUsuario"
            formControlName="idnVarUsuario"
          />
          <div
            *ngIf="
              editForm.get('idnVarUsuario')!.invalid && (editForm.get('idnVarUsuario')!.dirty || editForm.get('idnVarUsuario')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idnVarUsuario')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.papel" for="field_papel">Papel</label>
          <select class="form-control" id="field_papel" data-cy="papel" name="papel" formControlName="papel">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="papelOption.id === editForm.get('papel')!.value?.id ? editForm.get('papel')!.value : papelOption"
              *ngFor="let papelOption of papelsSharedCollection; trackBy: trackPapelById"
            >
              {{ papelOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.permissions" for="field_permissions"
            >Permissions</label
          >
          <select class="form-control" id="field_permissions" data-cy="permissions" name="permissions" formControlName="permissions">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                permissionsOption.id === editForm.get('permissions')!.value?.id ? editForm.get('permissions')!.value : permissionsOption
              "
              *ngFor="let permissionsOption of permissionsSharedCollection; trackBy: trackPermissionsById"
            >
              {{ permissionsOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.features" for="field_features"
            >Features</label
          >
          <select class="form-control" id="field_features" data-cy="features" name="features" formControlName="features">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="featuresOption.id === editForm.get('features')!.value?.id ? editForm.get('features')!.value : featuresOption"
              *ngFor="let featuresOption of featuresSharedCollection; trackBy: trackFeaturesById"
            >
              {{ featuresOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.usuario" for="field_usuario"
            >Usuario</label
          >
          <select class="form-control" id="field_usuario" data-cy="usuario" name="usuario" formControlName="usuario">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('usuario')!.value?.id ? editForm.get('usuario')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
