<div>
  <h2 id="page-heading" data-cy="PermissionsPapelHeading">
    <span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.home.title">Permissions Papels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-permissions-papel"
        [routerLink]="['/permissions-papel/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.home.createLabel"> Create a new Permissions Papel </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="permissionsPapels?.length === 0">
    <span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.home.notFound">No permissionsPapels found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="permissionsPapels && permissionsPapels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col">
            <span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.idnVarPermissions">Idn Var Permissions</span>
          </th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.idnVarPapel">Idn Var Papel</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.idnVarFeatures">Idn Var Features</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.idnVarUsuario">Idn Var Usuario</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.papel">Papel</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.permissions">Permissions</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.features">Features</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.permissionsPapel.usuario">Usuario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permissionsPapel of permissionsPapels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/permissions-papel', permissionsPapel.id, 'view']">{{ permissionsPapel.id }}</a>
          </td>
          <td>{{ permissionsPapel.idnVarPermissions }}</td>
          <td>{{ permissionsPapel.idnVarPapel }}</td>
          <td>{{ permissionsPapel.idnVarFeatures }}</td>
          <td>{{ permissionsPapel.idnVarUsuario }}</td>
          <td>
            <div *ngIf="permissionsPapel.papel">
              <a [routerLink]="['/papel', permissionsPapel.papel?.id, 'view']">{{ permissionsPapel.papel?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="permissionsPapel.permissions">
              <a [routerLink]="['/permissions', permissionsPapel.permissions?.id, 'view']">{{ permissionsPapel.permissions?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="permissionsPapel.features">
              <a [routerLink]="['/features', permissionsPapel.features?.id, 'view']">{{ permissionsPapel.features?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="permissionsPapel.usuario">
              <a [routerLink]="['/usuario', permissionsPapel.usuario?.id, 'view']">{{ permissionsPapel.usuario?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/permissions-papel', permissionsPapel.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/permissions-papel', permissionsPapel.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(permissionsPapel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
