<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="grupo">
      <h2 data-cy="grupoDetailsHeading"><span jhiTranslate="riskcomplianceloginserviceApp.grupo.detail.title">Grupo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ grupo.id }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupo.idnVarGrupo">Idn Var Grupo</span></dt>
        <dd>
          <span>{{ grupo.idnVarGrupo }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupo.nVarNome">N Var Nome</span></dt>
        <dd>
          <span>{{ grupo.nVarNome }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupo.idnVarUsuario">Idn Var Usuario</span></dt>
        <dd>
          <span>{{ grupo.idnVarUsuario }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupo.idnVarEmpresa">Idn Var Empresa</span></dt>
        <dd>
          <span>{{ grupo.idnVarEmpresa }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupo.empresa">Empresa</span></dt>
        <dd>
          <div *ngIf="grupo.empresa">
            <a [routerLink]="['/empresa', grupo.empresa?.id, 'view']">{{ grupo.empresa?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.grupo.usuario">Usuario</span></dt>
        <dd>
          <div *ngIf="grupo.usuario">
            <a [routerLink]="['/usuario', grupo.usuario?.id, 'view']">{{ grupo.usuario?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/grupo', grupo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
