<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="papel">
      <h2 data-cy="papelDetailsHeading"><span jhiTranslate="riskcomplianceloginserviceApp.papel.detail.title">Papel</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ papel.id }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.papel.idnVarPapel">Idn Var Papel</span></dt>
        <dd>
          <span>{{ papel.idnVarPapel }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.papel.nVarNome">N Var Nome</span></dt>
        <dd>
          <span>{{ papel.nVarNome }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.papel.idnVarApp">Idn Var App</span></dt>
        <dd>
          <span>{{ papel.idnVarApp }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.papel.idnVarUsuario">Idn Var Usuario</span></dt>
        <dd>
          <span>{{ papel.idnVarUsuario }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.papel.app">App</span></dt>
        <dd>
          <div *ngIf="papel.app">
            <a [routerLink]="['/app', papel.app?.id, 'view']">{{ papel.app?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.papel.usuario">Usuario</span></dt>
        <dd>
          <div *ngIf="papel.usuario">
            <a [routerLink]="['/usuario', papel.usuario?.id, 'view']">{{ papel.usuario?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/papel', papel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
