<div>
  <h2 id="page-heading" data-cy="PapelHeading">
    <span jhiTranslate="riskcomplianceloginserviceApp.papel.home.title">Papels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="riskcomplianceloginserviceApp.papel.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-papel"
        [routerLink]="['/papel/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="riskcomplianceloginserviceApp.papel.home.createLabel"> Create a new Papel </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="papels?.length === 0">
    <span jhiTranslate="riskcomplianceloginserviceApp.papel.home.notFound">No papels found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="papels && papels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.papel.idnVarPapel">Idn Var Papel</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.papel.nVarNome">N Var Nome</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.papel.idnVarApp">Idn Var App</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.papel.idnVarUsuario">Idn Var Usuario</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.papel.app">App</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.papel.usuario">Usuario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let papel of papels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/papel', papel.id, 'view']">{{ papel.id }}</a>
          </td>
          <td>{{ papel.idnVarPapel }}</td>
          <td>{{ papel.nVarNome }}</td>
          <td>{{ papel.idnVarApp }}</td>
          <td>{{ papel.idnVarUsuario }}</td>
          <td>
            <div *ngIf="papel.app">
              <a [routerLink]="['/app', papel.app?.id, 'view']">{{ papel.app?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="papel.usuario">
              <a [routerLink]="['/usuario', papel.usuario?.id, 'view']">{{ papel.usuario?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/papel', papel.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/papel', papel.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(papel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
