<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="empresa">
      <h2 data-cy="empresaDetailsHeading"><span jhiTranslate="riskcomplianceloginserviceApp.empresa.detail.title">Empresa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ empresa.id }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.empresa.idnVarEmpresa">Idn Var Empresa</span></dt>
        <dd>
          <span>{{ empresa.idnVarEmpresa }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.empresa.nVarNome">N Var Nome</span></dt>
        <dd>
          <span>{{ empresa.nVarNome }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.empresa.nVarDescricao">N Var Descricao</span></dt>
        <dd>
          <span>{{ empresa.nVarDescricao }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/empresa', empresa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
