<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="usuario">
      <h2 data-cy="usuarioDetailsHeading"><span jhiTranslate="riskcomplianceloginserviceApp.usuario.detail.title">Usuario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ usuario.id }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.usuario.idnVarUsuario">Idn Var Usuario</span></dt>
        <dd>
          <span>{{ usuario.idnVarUsuario }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.usuario.nVarNome">N Var Nome</span></dt>
        <dd>
          <span>{{ usuario.nVarNome }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.usuario.idnVarEmpresa">Idn Var Empresa</span></dt>
        <dd>
          <span>{{ usuario.idnVarEmpresa }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.usuario.idnVarUsuarioCadastro">Idn Var Usuario Cadastro</span></dt>
        <dd>
          <span>{{ usuario.idnVarUsuarioCadastro }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.usuario.nVarSenha">N Var Senha</span></dt>
        <dd>
          <span>{{ usuario.nVarSenha }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.usuario.empresa">Empresa</span></dt>
        <dd>
          <div *ngIf="usuario.empresa">
            <a [routerLink]="['/empresa', usuario.empresa?.id, 'view']">{{ usuario.empresa?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/usuario', usuario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
