<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="app">
      <h2 data-cy="appDetailsHeading"><span jhiTranslate="riskcomplianceloginserviceApp.app.detail.title">App</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ app.id }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.app.idnVarApp">Idn Var App</span></dt>
        <dd>
          <span>{{ app.idnVarApp }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.app.nVarNome">N Var Nome</span></dt>
        <dd>
          <span>{{ app.nVarNome }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.app.idnVarUsuario">Idn Var Usuario</span></dt>
        <dd>
          <span>{{ app.idnVarUsuario }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.app.idnVarEmpresa">Idn Var Empresa</span></dt>
        <dd>
          <span>{{ app.idnVarEmpresa }}</span>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.app.empresa">Empresa</span></dt>
        <dd>
          <div *ngIf="app.empresa">
            <a [routerLink]="['/empresa', app.empresa?.id, 'view']">{{ app.empresa?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="riskcomplianceloginserviceApp.app.usuario">Usuario</span></dt>
        <dd>
          <div *ngIf="app.usuario">
            <a [routerLink]="['/usuario', app.usuario?.id, 'view']">{{ app.usuario?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/app', app.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
