<div>
  <h2 id="page-heading" data-cy="GrupoHeading">
    <span jhiTranslate="riskcomplianceloginserviceApp.grupo.home.title">Grupos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="riskcomplianceloginserviceApp.grupo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grupo"
        [routerLink]="['/grupo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="riskcomplianceloginserviceApp.grupo.home.createLabel"> Create a new Grupo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="grupos?.length === 0">
    <span jhiTranslate="riskcomplianceloginserviceApp.grupo.home.notFound">No grupos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="grupos && grupos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.grupo.idnVarGrupo">Idn Var Grupo</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.grupo.nVarNome">N Var Nome</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.grupo.idnVarUsuario">Idn Var Usuario</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.grupo.idnVarEmpresa">Idn Var Empresa</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.grupo.empresa">Empresa</span></th>
          <th scope="col"><span jhiTranslate="riskcomplianceloginserviceApp.grupo.usuario">Usuario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grupo of grupos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/grupo', grupo.id, 'view']">{{ grupo.id }}</a>
          </td>
          <td>{{ grupo.idnVarGrupo }}</td>
          <td>{{ grupo.nVarNome }}</td>
          <td>{{ grupo.idnVarUsuario }}</td>
          <td>{{ grupo.idnVarEmpresa }}</td>
          <td>
            <div *ngIf="grupo.empresa">
              <a [routerLink]="['/empresa', grupo.empresa?.id, 'view']">{{ grupo.empresa?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="grupo.usuario">
              <a [routerLink]="['/usuario', grupo.usuario?.id, 'view']">{{ grupo.usuario?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/grupo', grupo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/grupo', grupo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(grupo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
